<div class="contact-card">
    <div class="table-line">
        <span class="label">Fornavn: </span>
        <span class="value">{{ contact?.firstName }}</span>
    </div>
    <div class="table-line">
        <span class="label">Efternavn: </span>
        <span class="value">{{ contact?.lastName }}</span>
    </div>
    <div class="table-line">
        <span class="label">Telefon: </span>
        <span class="value">{{contact?.phone}}</span>
    </div>
    <div class="table-line">
        <span class="label">Email: </span>
        <span class="value">{{contact?.email}}</span>
    </div> 
</div>